option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current:$PYTHONPATH
  aws:elasticbeanstalk:container:python:
    ProxyServer: none

commands:
  01_install_deps:
    command: "source /var/app/venv/*/bin/activate && pip install -r /var/app/staging/requirements.txt"
    ignoreErrors: false
