option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current:$PYTHONPATH
  aws:ec2:vpc:
    VPCId: vpc-0eb005b0834bac307
    Subnets: subnet-0f50816572c7e036a,subnet-06044f15b53cc901d
    ELBSubnets: subnet-00f0b51bd9b7982b9,subnet-0fa2875c8f99a332e
    SecurityGroups: sg-0d5eff1249f5af9c9
    AssociatePublicIpAddress: "false"
